<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>Page non trouvée</title>
    </head>
    <body>
        <h1>La page n'éxiste pas</h1>

        <div>
            Cette page n'éxiste pas ou a été supprimée<br>Revenir à l'<a href="javascript:window.location.replace('/');">accueil</a>.
        </div>
    </body>
</html>
